body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(238,238,238);
    background: linear-gradient(0deg, rgba(238,238,238,1) 0%, rgba(27,176,228,1) 100%);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.search-bar {
    display: inline;
    width: 100%;
    padding: 15px;
    background: none;
    border: none;
    outline: none;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0px 5px rgba(0,0,0, 0.2);
    color: #313131;
    font-size: 18px;
    transition: 0.4s ease;
}

.thumbnail img {
    width: 100%;
}

.addToCart {
    padding-right: 10px;
    padding-left: 10px;
}

.thumbnail {
    padding: 0;
}

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }


